<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
              http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context-2.5.xsd">



	<!-- mapping userDao -->
	<bean class="src.dao.UserDaoImplDatabase" id="userDao" init-method="init"></bean>
	<bean class="src.services.UserMetierImpl" id="userService">
		<property name="dao" ref="userDao"></property>
	</bean>
	<!-- mapping profileDao -->
	<bean class="src.dao.profile.ProfileDaoImplDatabase" id="profileDao" ></bean>
	<bean class="src.services.ProfileMetierImpl" id="profileService">
		<property name="dao" ref="profileDao"></property>
	</bean>
	
 </beans>
